body{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(131, 218, 255); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(46, 168, 243), rgb(168, 228, 253));
    background-attachment: fixed;
  
}

/* body.night{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(131, 218, 255);
    background-image: linear-gradient(rgb(0, 0, 41), rgb(10, 53, 123), rgb(64, 171, 238));
    background-attachment: fixed;
} */



.pageBody
{
    display: flex;
    justify-content: center;
    padding-top: 8em;
}


.topBar{
    position: fixed;
    height: 63px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(71, 71, 71);
}

.searchBar{
    background-color: rgb(107, 162, 213);
    width: 360px;
    margin: 10px 15px;
    border-radius: 5px;
    position: fixed;
}

.searchBar .searchInput{
    background: rgb(255, 255, 255);
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    position: relative;
    
}

.searchInput input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
}

.searchInput .searchIcon{
    height: 30px;
    width: 30px;
    line-height: 35px;
    position: absolute;
    top: 0;
    margin-top: 5px;
    right: 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.searchInput .autocompleteSearch{
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.searchInput.active .autocompleteSearch{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocompleteSearch li{
    list-style: none;
    padding: 8px 12px;
    width: 93%;
    cursor: default;
    border-radius: 3px;
    color: black;
    display: none;
}

.searchInput.active .autocompleteSearch li{
    display: block;
}

.autocompleteSearch li:hover{
    background: rgb(155, 155, 155);
}


.currentWeather {
    border: 1px solid rgb(12, 0, 39);
    background-color: rgb(220, 242, 252);
    border-radius: 14px;
    padding: 10px;
    margin: 8px;
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 10%;      
}


.currentWeather .header{
    text-align: center;
    /* border: 1px solid black; */
}

.currentWeather .weather.hidden{
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    display: none;
    /* border: 1px solid black; */
}

.currentWeather .weather{
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    display: block;
    /* border: 1px solid black; */
}

.currentWeather .weather .row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    margin: 0px 0px 25px 0px; 
    /* border: 1px solid black; */    
}

 .currentWeather .weather .row1 .row1containter1 {
    /* background-image: linear-gradient(to bottom right, rgb(189, 230, 255), rgb(213, 240, 252)); */
    background-color:  rgb(189, 230, 255);
    border-radius: 14px;
    box-shadow: 10%;
    padding: 8px;
    height: 162px;
    width: 220px;
    display: flex;
    align-items: center;
    
 }

.currentWeather .weather .row1 .temp{
    font-size: 72px;
    text-align: center;
 }

 .currentWeather .weatherIcon img{
    height: 140px;
}

.currentWeather .weather .row1 .row1containter2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /* background-image: linear-gradient(to bottom right, rgb(189, 230, 255), rgb(213, 240, 252)); */
    background-color: rgb(189, 230, 255);
    border-radius: 14px;
    box-shadow: 10%;
    padding: 5px;
    width: 200px;
    /* border: 1px solid black; */
}


.currentWeather .weather .row1 .row1containter2 .cloudy{
    border-radius: 10px;
    padding: 5px;
    /* border: 1px solid black; */
}


.currentWeather .weather .row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 14px 14px 10px 14px;
    align-items: center;
    /* border: 1px solid black; */
    
}

.currentWeather .weather .row2 .row2cont1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-image: linear-gradient(to bottom right, rgb(189, 230, 255), rgb(213, 240, 252)); */
    background-color:  rgb(189, 230, 255);
    border-radius: 8px;
    box-shadow: 10%;
    padding: 5px;
    /* border: 1px solid black; */
    height: 130px;
    width: 200px;
    padding: 10px;
}


.windIcon img{
    height: 60px;
}


.currentWeather .weather .row2 .row2cont2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-image: linear-gradient(to bottom right, rgb(189, 230, 255), rgb(213, 240, 252)); */
    background-color:  rgb(189, 230, 255);
    border-radius: 8px;
    box-shadow: 10%;
    padding: 5px;
    /* border: 1px solid black; */
    height: 130px;
    width: 200px;
    padding: 10px;
}

.sunriseIcon img{
    height: 60px;
}


.currentWeather .weather .row2 span{
    font-size: 20px;
    margin: 0px 0px 6px 0px;
}


 

.weatherNext{
    border: 1px solid black;
    background-color: rgb(220, 242, 252);
    border-radius: 14px;
    padding: 10px;
    margin: 8px;
    width: 320px;
    height: auto;

    display: flex;
    flex-direction: column;
    box-shadow: 10%;  

}

.weatherNextHeader{
    text-align: center;
}



.weatherNext .weatherTomorrow, .weatherNext .weatherDayAfter{
    /* border: 1px solid black; */
    background-color:  rgb(189, 230, 255);
    border-radius: 8px;
    padding: 10px;
    margin: 0px 0px 20px 0px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}


.weatherNext .weatherTomorrow.hidden, .weatherNext .weatherDayAfter.hidden{
    display: none;
    /* border: 1px solid black; */
}

.headerDateTomorrow, .headerDateDayAfter{
    margin: 0px 0px 10px 0px;
}


.tomorrowContainer, .dayAfterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconCloudyTomorrow, .iconCloudyDayAfter{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    margin: 0px 10px;
}

.tempTomorrow, .tempDayAfter{
    font-size: 38px;
    padding: 30px 30px 0px 0px;
}

.weatherNext img{
    height: 80px;
    margin: 0px 0px 5px 0px;
}


.map{
    border: 1px solid black;
    background-color: royalblue;
    border-radius: 4px;
    padding: 1%;
    margin: 10px;
    width: 300px;
    height: auto;
    justify-content: center;
    display: none;
}



.datetime{
    width: 180px;
    padding: 5px;
    margin: 10px 10px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    background: rgb(231, 255, 13);
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);

}

.datetime .date, .clock{
    text-align: center;
    font-weight: bold;
}


/* .calc {
    display: flex;
    width: auto;
}

} */

.bottomBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background:rgb(56, 56, 56) ;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.bottomBar_content {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bottomBar_content {
    display: flex;
    align-items: center;
}


.hideStats {
    display: none;
}


.darkContainers {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 1%;
    margin: 10px;
    width: 300px;
    height: auto;
    justify-content: center;
}